@import "../../../../style/colors";

.table {
    background-color: $white;
    display: block;

    .row {
        display: flex;
        flex-wrap: wrap;
    }

    .cell {
        box-sizing: border-box;
        flex-grow: 1;
        width: 100%;  // Default to full width
        padding: 0.8em 1.2em;
        overflow: hidden; // Or flex might break
        list-style: none;
        > h1, > h2, > h3, > h4, > h5, > h6 { margin: 0; }
    }
}
